{% extends "base.html" %}



{% block content %}

<div class='row'>
<div class='col-sm-6 col-sm-offset-3'>
<h1>About Cell Store</h1>
<p class='lead'> 
Django Cell Store is a tutorial project to explore capabilities of python framework "Django".
In this projects we are exploring how models work, what kind of model relations there are in django. Class based views and their built in methods vs function based views. The Layout of Model View Controller Architecture. Bootstrap framework. 
Django Admin panel, and model registration in django admin.
</p>
</div>

</div>


{% endblock %}
